streamlit
fastapi
langchain
transformers
torch
pandas
numpy
scikit-learn
uvicorn
starlette

langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
huggingface-hub[hf_xet]
chromadb
ollama
sentence-transformers

